node_modules
dist
coverage
.env
package-lock.json
yarn.lock
yarn-error.log
logs
.env.old
.env.prod.old
.env.prod
.env.dev
.env.qa
.env.local
.env.staging
.temp
experiments
src/migrations/cli/*
src/scaffolders/*
prod-ec2-key.pem
fe-unisolve.pem